CREATE DATABASE [Pipeline_Group03]
GO

USE [Pipeline_Group03]
GO

CREATE TABLE [dbo].[Dim_Disease](
	[Disease_iD] [varchar](2) NOT NULL,
	[Disease_name] [varchar](20) NULL,
	[Blood_pressure_mmHg] [varchar](10) NULL,
	[Blood_sugar_mgdL] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Disease_iD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE [dbo].[Dim_Insurance](
	[Insurance_iD] [varchar](10) NOT NULL,
	[Insurance_cover_amount] [int] NULL,
	[Insurance_type] [varchar](3) NULL,
	[Insurance_expired] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Insurance_iD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE [dbo].[Dim_Medical](
	[Medical_iD] [varchar](10) NOT NULL,
	[Patient_iD] [varchar](10) NULL,
	[Appointment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Medical_iD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE [dbo].[Dim_MedicalDetail](
	[Medical_iD] [varchar](10) NOT NULL,
	[Symptom_iD] [varchar](10) NULL,
	[Allergies_flag] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Medical_iD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE [dbo].[Dim_Patient](
	[Patient_iD] [varchar](10) NOT NULL,
	[Insurance_iD] [varchar](10) NULL,
	[Patient_name] [varchar](50) NULL,
	[Patient_gender] [varchar](6) NULL,
	[Patient_age] [int] NULL,
	[Patient_bloodtype] [varchar](2) NULL,
	[Patient_weight_kg] [int] NULL,
	[History_covid] [int] NULL,
	[Blood_pressure_mmHG] [int] NULL,
	[Blood_sugar_mgdL] [int] NULL,
	[Patient_zip] [int] NULL,
	[Patient_state] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Patient_iD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE [dbo].[Dim_Symptom](
	[Symptom_iD] [varchar](10) NOT NULL,
	[Disease_iD] [varchar](2) NULL,
	[Symptom_name] [varchar](50) NULL,
	[Symptom_stage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Symptom_iD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


INSERT [dbo].[Dim_Disease] ([Disease_iD], [Disease_name], [Blood_pressure_mmHg], [Blood_sugar_mgdL]) VALUES (N'D0', N'Heart Cancer', N'>140', N'>140')
INSERT [dbo].[Dim_Disease] ([Disease_iD], [Disease_name], [Blood_pressure_mmHg], [Blood_sugar_mgdL]) VALUES (N'D1', N'Liver Cancer', N'>130', N'>140')
INSERT [dbo].[Dim_Disease] ([Disease_iD], [Disease_name], [Blood_pressure_mmHg], [Blood_sugar_mgdL]) VALUES (N'D2', N'Skin Cancer', N'<120', N'<140')
GO
INSERT [dbo].[Dim_Insurance] ([Insurance_iD], [Insurance_cover_amount], [Insurance_type], [Insurance_expired]) VALUES (N'I2000', 6000, N'HMO', CAST(N'2025-03-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Dim_Insurance] ([Insurance_iD], [Insurance_cover_amount], [Insurance_type], [Insurance_expired]) VALUES (N'I2001', 6000, N'HMO', CAST(N'2024-08-03T00:00:00.000' AS DateTime))
INSERT [dbo].[Dim_Insurance] ([Insurance_iD], [Insurance_cover_amount], [Insurance_type], [Insurance_expired]) VALUES (N'I2002', 6000, N'HMO', CAST(N'2023-04-30T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Dim_Medical] ([Medical_iD], [Patient_iD], [Appointment_date]) VALUES (N'M1', N'P17', CAST(N'2020-08-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Dim_Medical] ([Medical_iD], [Patient_iD], [Appointment_date]) VALUES (N'M10', N'P27', CAST(N'2019-04-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Dim_Medical] ([Medical_iD], [Patient_iD], [Appointment_date]) VALUES (N'M100', N'P23', CAST(N'2021-07-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Dim_MedicalDetail] ([Medical_iD], [Symptom_iD], [Allergies_flag]) VALUES (N'M1', N'S31', 0)
INSERT [dbo].[Dim_MedicalDetail] ([Medical_iD], [Symptom_iD], [Allergies_flag]) VALUES (N'M10', N'S21', 0)
INSERT [dbo].[Dim_MedicalDetail] ([Medical_iD], [Symptom_iD], [Allergies_flag]) VALUES (N'M100', N'S16', 1)
GO
INSERT [dbo].[Dim_Patient] ([Patient_iD], [Insurance_iD], [Patient_name], [Patient_gender], [Patient_age], [Patient_bloodtype], [Patient_weight_kg], [History_covid], [Blood_pressure_mmHG], [Blood_sugar_mgdL], [Patient_zip], [Patient_state]) VALUES (N'P1', N'I2000', N'Christina Gomez', N'Male', 57, N'A', 112, 0, 150, 105, 56895, N'Pennsylvania')
INSERT [dbo].[Dim_Patient] ([Patient_iD], [Insurance_iD], [Patient_name], [Patient_gender], [Patient_age], [Patient_bloodtype], [Patient_weight_kg], [History_covid], [Blood_pressure_mmHG], [Blood_sugar_mgdL], [Patient_zip], [Patient_state]) VALUES (N'P10', N'I2009', N'Erin Yates', N'Male', 52, N'AB', 97, 1, 183, 163, 94709, N'Wisconsin')
INSERT [dbo].[Dim_Patient] ([Patient_iD], [Insurance_iD], [Patient_name], [Patient_gender], [Patient_age], [Patient_bloodtype], [Patient_weight_kg], [History_covid], [Blood_pressure_mmHG], [Blood_sugar_mgdL], [Patient_zip], [Patient_state]) VALUES (N'P11', N'I2010', N'James Lozano', N'Female', 68, N'AB', 82, 0, 153, 182, 46310, N'South Dakota')
GO
INSERT [dbo].[Dim_Symptom] ([Symptom_iD], [Disease_iD], [Symptom_name], [Symptom_stage]) VALUES (N'S1', N'D1', N'Chest pain or pressure', 3)
INSERT [dbo].[Dim_Symptom] ([Symptom_iD], [Disease_iD], [Symptom_name], [Symptom_stage]) VALUES (N'S10', N'D2', N'Back pain', 3)
INSERT [dbo].[Dim_Symptom] ([Symptom_iD], [Disease_iD], [Symptom_name], [Symptom_stage]) VALUES (N'S11', N'D2', N'Pain near the right shoulder blade', 3)
GO
ALTER TABLE [dbo].[Dim_Medical]  WITH NOCHECK ADD  CONSTRAINT [FK_Medical_Patient] FOREIGN KEY([Patient_iD])
REFERENCES [dbo].[Dim_Patient] ([Patient_iD])
GO
ALTER TABLE [dbo].[Dim_Medical] CHECK CONSTRAINT [FK_Medical_Patient]
GO
ALTER TABLE [dbo].[Dim_MedicalDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_MedicalDetail_Medical] FOREIGN KEY([Medical_iD])
REFERENCES [dbo].[Dim_Medical] ([Medical_iD])
GO
ALTER TABLE [dbo].[Dim_MedicalDetail] CHECK CONSTRAINT [FK_MedicalDetail_Medical]
GO
ALTER TABLE [dbo].[Dim_MedicalDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_MedicalDetail_Symptom] FOREIGN KEY([Symptom_iD])
REFERENCES [dbo].[Dim_Symptom] ([Symptom_iD])
GO
ALTER TABLE [dbo].[Dim_MedicalDetail] CHECK CONSTRAINT [FK_MedicalDetail_Symptom]
GO
ALTER TABLE [dbo].[Dim_Patient]  WITH NOCHECK ADD  CONSTRAINT [FK_Insurance_Patient] FOREIGN KEY([Insurance_iD])
REFERENCES [dbo].[Dim_Insurance] ([Insurance_iD])
GO
ALTER TABLE [dbo].[Dim_Patient] CHECK CONSTRAINT [FK_Insurance_Patient]
GO
ALTER TABLE [dbo].[Dim_Symptom]  WITH NOCHECK ADD  CONSTRAINT [FK_Disease_Symptom] FOREIGN KEY([Disease_iD])
REFERENCES [dbo].[Dim_Disease] ([Disease_iD])
GO
ALTER TABLE [dbo].[Dim_Symptom] CHECK CONSTRAINT [FK_Disease_Symptom]
GO
